body{
    margin: 0;
    padding: 0;
}

.row{
    margin: 1%;
}

.navbar{
    color: white;
}

.citysearch{
    min-height: 300px;
    background: #dbdfe5;
}

.citydetails{
    min-height: 300px;
}

.btn{
    background-color: blue;
    color: white;
}

#clear-history{
    font-size: 70%;
    margin-left: .5rem;
}

.list-group-item:hover {
    background-color: lightcyan;
}

#intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 1.5rem;
}

.card-body{
    width: 100%;
    height: fit-content;
}

#forecastDiv{
    width: 100%; 
    display: flex;
    flex-direction: row;
}

.forecastCard{
    background-color: blue;
    color: white;
    margin: .5%;
    border-radius: 1%;
    font-size: 90%;
    padding: .25rem;
    width: 10rem;
}

/* this is to set the forecast to display vertically */
@media all and (max-width: 960px){
    #forecastDiv{
        width: 100%; 
        display: flex;
        flex-direction: column;
    }
    .forecastCard{
        background-color: blue;
        color: white;
        margin: .5%;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
    }
}